<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>33355554746-fiu7nn1bumnic63gugu7md41lffi39j1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBR9k6K905zx7eupOPiuTpyjjAOfnZa6pU</string>
	<key>GCM_SENDER_ID</key>
	<string>33355554746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucrasports.mobile-rnsample</string>
	<key>PROJECT_ID</key>
	<string>lucrasports</string>
	<key>STORAGE_BUCKET</key>
	<string>lucrasports.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33355554746:ios:25dc1ffb3ce5d76ddec783</string>
</dict>
</plist>